
.typed-cursor {
  animation: blink-animation 850ms steps(5, start) infinite;
  -webkit-animation: blink-animation 850ms steps(5, start) infinite;
  margin-left: 2px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
